.u-section-1 .u-sheet-1 {
  min-height: 500px;
}.u-section-2 .u-sheet-1 {
  min-height: 771px;
}

.u-section-2 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 80px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 17px 17px;
  grid-template-columns: calc(25% - 12.75px) calc(25% - 12.75px) calc(25% - 12.75px) calc(25% - 12.75px);
  min-height: 640px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-video-1 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-text-1 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-line-1 {
  width: 205px;
  height: 3px;
  transform-origin: right center 0px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 8px 20px 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-video-2 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-text-3 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  background-image: none;
}

.u-section-2 .u-line-2 {
  width: 205px;
  height: 3px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-4 {
  margin: 8px 20px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-video-3 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-text-5 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-6 {
  background-image: none;
}

.u-section-2 .u-line-3 {
  width: 205px;
  height: 3px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-6 {
  margin: 8px 20px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-video-4 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-text-7 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-7 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-8 {
  background-image: none;
}

.u-section-2 .u-line-4 {
  width: 205px;
  height: 3px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-8 {
  margin: 8px 20px 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-video-5 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
}

.u-section-2 .u-text-9 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-9 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-10 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-10 {
  background-image: none;
}

.u-section-2 .u-line-5 {
  width: 205px;
  height: 3px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-10 {
  margin: 8px 20px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-video-6 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
}

.u-section-2 .u-text-11 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-11 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-12 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-12 {
  background-image: none;
}

.u-section-2 .u-line-6 {
  width: 205px;
  height: 3px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-12 {
  margin: 8px 20px 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-video-7 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-7 {
  position: absolute;
}

.u-section-2 .u-text-13 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-13 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-14 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-14 {
  background-image: none;
}

.u-section-2 .u-line-7 {
  width: 205px;
  height: 3px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-14 {
  margin: 8px 20px 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-video-8 {
  height: 150px;
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-2 .embed-responsive-8 {
  position: absolute;
}

.u-section-2 .u-text-15 {
  text-align: left;
  margin: 21px 20px 0;
}

.u-section-2 .u-btn-15 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 0 30px 0 auto;
  padding: 0;
}

.u-section-2 .u-btn-16 {
  border-style: none none solid;
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -27px auto 0;
  padding: 0;
}

.u-section-2 .u-icon-16 {
  background-image: none;
}

.u-section-2 .u-line-8 {
  width: 205px;
  height: 3px;
  margin: 0 auto 0 30px;
}

.u-section-2 .u-text-16 {
  margin: 8px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 527px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -30px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -56px;
    margin-left: 9px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-14 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-15 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 9px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8.5px) calc(50% - 8.5px);
    min-height: 1615px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -33px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -5px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -6px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: -50px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -35px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 8px;
  }
}